body {
	Background-color:#fb90b7;
	opacity: 0,6;
}
h1 {
	
	margin-left: 20px;
}

div{
	
	width:650px;
	padding:10px;
	border:5px pink;
	margin:0;
}

.fotobox{
	display:flex;
	width:300px;
	padding:10px;
	border:5px pink;
	margin:0;
}