body {
	Background-color:#edb1f1;
	opacity: 0,6;
}
h1 {
	
	margin-left: 20px;
}

.fotobox{
		
	display:flex;
	width:400px;
	padding:10px;
	border:5px pink;
	margin:0;
}

#Tekst-5{
		width:400px;
		margin-left:30px;
}

#Tekst-6{ 
		width:400px;
		margin-left: 30px;
}